@page "/future-user-links-test"
@rendermode InteractiveServer

<PageTitle>Future User Links Test</PageTitle>

<h1>Future User Links Test</h1>

<a href="/driver-standings">Just Driver Standings</a>
<br />
<a href="/driver-standings/2022">Driver Standings with season 2022</a>
<br />
<a href="/driver-standings/2022/drivers-844,815,822">Driver Standings season 2022 and driver Ids 844,815,822</a>
<br />
<a href="driver-standings/2017/race-979">Driver Standings season 2017 and race Id 979</a>
<br />


@code {
}